name: Release

on:
  push:
    tags:
      - 'v*' # "v1.0.0" などのタグがプッシュされた時に実行

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Publish
        run: |
          cd yClocky
          dotnet publish -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -p:PublishTrimmed=false

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: yClocky/bin/Release/net8.0-windows/win-x64/publish/yClocky.exe
          generate_release_notes: true
