name: Winget Submission

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  winget:
    runs-on: ubuntu-latest
    steps:
      - name: Submit to Winget
        uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: ycookiey.yClocky
          installers-regex: '\.exe$'
          token: ${{ secrets.WINGET_TOKEN }}
